{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="row gutters">
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="account-settings">
                            <div class="user-profile text-center">
                                <div class="user-avatar">
                                    <img src="{{ user.profile.profile_image.url }}" class="rounded-circle img-fluid" alt="Profile image">
                                </div>
                                <h5 class="user-name mt-3">{{user.profile.name}}</h5>
                                <h6 class="user-email">{{user.profile.email}}</h6>
                            </div>
                            <div class="about text-center mt-3">
                                <h5>About</h5>
                                <p>{{user.profile.bio}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                <div class="card h-100 ">
                    <div class="card-body">
                        <div class="col"></div>

                        <div class="col">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mb-2 text-primary">Personal Details</h6>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <form action="" method="post" enctype="multipart/form-data" novalidate>
                                    {% csrf_token %}
                                    {{ prof_form|crispy }}
                                    <input type="submit" class="btn btn-sm btn-primary" value="Save"/>
                                </form>
                                </div>
                            </div>
                        </div>

                        <div class="col"></div>

                    </div>
                    <div id="post">
                        <!-- Modal -->
                          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"  style="background-image: url(https://ucarecdn.com/3f8ea7a7-df8a-4d9a-9974-f0ca7fbdc70a/-/scale_crop/1000x1000/smart/);">
                              <div class="modal-dialog">
                              <div class="modal-content">
                                  <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">Upload a project</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                      <form action="" method="post" enctype="multipart/form-data">
                                          {% csrf_token %}
                                          {{ form|crispy }}
                                          <div class="modal-footer">
                                              <button type="button" class="btn btn-outline-danger btn-sm" data-bs-dismiss="modal">Close</button>
                                              <input type="submit"  class="btn btn-sm btn-info" value= "Save changes">
                                          </div>
                                      </form>
                                  
                                  </div>
                              
                              </div>
                              </div>
                          </div>
                  </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}