{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container text-center">
    <h5 class="mb-4 mt-4">{{ post.title }} by {{ post.user.username }} from {{ post.user.profile.location }} <span
            id="heart"> <i class="fas fa-heart"></i></span></h5>

    <div class="card">
        <div class="view overlay">
            <img class="card-img-top" width="50%"
                 src="{{ post.image}}-/crop/1440x720/center/-/quality/lightest/" alt="{{photo.title}}">
            <a href="">
                <div class="mask rgba-black-slight">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6 d-flex flex-row mx-auto mt-3">
                                {% for rating in post.ratings.all %}
                                {% if forloop.counter is post.ratings.all.count %}
                                <!-- design -->
                                <div id="design"><br>
                                    <div class="c100 orange">
                                        <span>{{rating.design_average}}</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="rates">design</span>
                                    </div>
                                </div>

                                <!-- usability -->
                                <div id="usable" class="mx-auto"><br>
                                    <div class="c100 orange">
                                        <span>{{ rating.usability_average }}</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="rates">usability</span>
                                    </div>
                                </div>
                                <!-- content -->
                                <div id="content"><br>
                                    <div class="c100 orange">
                                        <span>{{ rating.content_average }}</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="rates">content</span>
                                    </div>
                                </div>

                                {% endif %}
                                {% endfor %}
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>

                </div>
            </a>
        </div>
        <div class="card-body text-center">
            <h2 class="card-title"><a href="{{ post.url }}" class="text-warning" ><strong>{{post.title|title}}</strong></a></h2>
            <p>by <span><a href="{% url 'profile' user.username %}" id="usern" class="mr-2">{{ post.user.username|title }}</a></span></p>
            <p>{{ post.description }}</p>
            <hr>
            <img src="{{post.user.profile.profile_image.url}}" class="img-thumbnail rounded" alt="" style="height: 200px;">
            <p class="card-text ">By {{post.user.username|title}}</p>
            <span style="float:right">{{post.date|date}}</span>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 text-center">
                    <h3 class="D-block mx-auto">Ratings Scores</h3>
                    {% for rating in post.ratings.all %}
                    {% if forloop.counter is post.ratings.all.count %}
                    <a class="btn btn-warning btn-sm" ><h5>{{ rating.score }}</h5>
                        <span class="sc">Average Score</span>
                    </a>
                    <a class="btn btn-outline-success btn-sm" ><h5>{{ rating.design_average }}</h5>
                        <span class="sc">Design Average</span>
                    </a>
                    <a class="btn btn-outline-primary btn-sm"><h5>{{ rating.usability_average }}</h5>
                        <span class="sc">Usability Average</span>
                    </a>
                    <a class="btn btn-outline-danger btn-sm" ><h5>{{ rating.content_average }}</h5>
                        <span class="sc">Content Average</span>
                    </a>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="col-md-2"></div>
            </div>

            {% if rating_status %}
            <h5>You have already voted</h5>
            {% else %}
            {% if user.is_authenticated %}
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{rating_form|crispy}}
                <button class="btn btn-sm btn-info">Rate</button>
            </form>
            {% endif %}
            {% endif %}
        </div>

    </div>
    <div id="post">
        <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"  style="background-image: url(https://ucarecdn.com/3f8ea7a7-df8a-4d9a-9974-f0ca7fbdc70a/-/scale_crop/1000x1000/smart/);">
              <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Upload a project</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <form action="" method="post" enctype="multipart/form-data">
                          {% csrf_token %}
                          {{ form|crispy }}
                          <div class="modal-footer">
                              <button type="button" class="btn btn-outline-danger btn-sm" data-bs-dismiss="modal">Close</button>
                              <input type="submit"  class="btn btn-sm btn-info" value= "Save changes">
                          </div>
                      </form>
                  
                  </div>
              
              </div>
              </div>
          </div>
  </div>
</div>

{% endblock %}